.products.grid .buttons button.basket {
  background-color: #89408d;
  background-image: url("../../../images/mowatt/contour.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  white-space: nowrap; }

.products.grid .buttons button.basket:hover {
  background: #fff;
  color: #89408d; }

button.button i {
  background-image: url("../../../images/mowatt/icon_basket.png");
  background-position: center 0;
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 40px;
  margin-left: -15px;
  width: 40px; }

button.button:hover i {
  background-position: center -40px; }

/*# sourceMappingURL=front.css.map */