/*--------------------------------
FONT IMPORTS
--------------------------------*/

@font-face {
	font-family: 'ICT';
	src:	url('../../../fonts/ICT-200.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/ICT-200.otf') format('opentype'),
			url('../../../fonts/ICT-200.woff') format('woff'),
			url('../../../fonts/ICT-200.ttf') format('truetype'),
			url('../../../fonts/ICT-200.svg#ICT-200') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'ICT';
	src:	url('../../../fonts/ICT-200-Italic.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/ICT-200-Italic.otf') format('opentype'),
			url('../../../fonts/ICT-200-Italic.woff') format('woff'),
			url('../../../fonts/ICT-200-Italic.ttf') format('truetype'),
			url('../../../fonts/ICT-200-Italic.svg#ICT-200-Italic') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'ICT';
	src:	url('../../../fonts/ICT-300.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/ICT-300.otf') format('opentype'),
			url('../../../fonts/ICT-300.woff') format('woff'),
			url('../../../fonts/ICT-300.ttf') format('truetype'),
			url('../../../fonts/ICT-300.svg#ICT-300') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ICT';
	src:	url('../../../fonts/ICT-300-Italic.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/ICT-300-Italic.otf') format('opentype'),
			url('../../../fonts/ICT-300-Italic.woff') format('woff'),
			url('../../../fonts/ICT-300-Italic.ttf') format('truetype'),
			url('../../../fonts/ICT-300-Italic.svg#ICT-300-Italic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'ICT';
	src:	url('../../../fonts/ICT-400.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/ICT-400.otf') format('opentype'),
			url('../../../fonts/ICT-400.woff') format('woff'),
			url('../../../fonts/ICT-400.ttf') format('truetype'),
			url('../../../fonts/ICT-400.svg#ICT-400') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ICT';
	src:	url('../../../fonts/ICT-400-Italic.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/ICT-400-Italic.otf') format('opentype'),
			url('../../../fonts/ICT-400-Italic.woff') format('woff'),
			url('../../../fonts/ICT-400-Italic.ttf') format('truetype'),
			url('../../../fonts/ICT-400-Italic.svg#ICT-400-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'ICT';
	src:	url('../../../fonts/ICT-500.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/ICT-500.otf') format('opentype'),
			url('../../../fonts/ICT-500.woff') format('woff'),
			url('../../../fonts/ICT-500.ttf') format('truetype'),
			url('../../../fonts/ICT-500.svg#ICT-500') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ICT';
	src:	url('../../../fonts/ICT-500-Italic.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/ICT-500-Italic.otf') format('opentype'),
			url('../../../fonts/ICT-500-Italic.woff') format('woff'),
			url('../../../fonts/ICT-500-Italic.ttf') format('truetype'),
			url('../../../fonts/ICT-500-Italic.svg#ICT-500-Italic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'ICT';
	src:	url('../../../fonts/ICT-600.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/ICT-600.otf') format('opentype'),
			url('../../../fonts/ICT-600.woff') format('woff'),
			url('../../../fonts/ICT-600.ttf') format('truetype'),
			url('../../../fonts/ICT-600.svg#ICT-600') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ICT';
	src:	url('../../../fonts/ICT-600-Italic.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/ICT-600-Italic.otf') format('opentype'),
			url('../../../fonts/ICT-600-Italic.woff') format('woff'),
			url('../../../fonts/ICT-600-Italic.ttf') format('truetype'),
			url('../../../fonts/ICT-600-Italic.svg#ICT-600-Italic') format('svg');
	font-weight: 600;
	font-style: italic;
}

/*--------------------------------
DEFAULT FONTS
--------------------------------*/

body,html,input,select,textarea{
	font-family: 'ICT', sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #666;
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6,strong,b{
	font-weight: 400;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6{
	color: #89408d;
}

i,em{
	font-style: italic;
}

a{
	color: #89408d;
	text-decoration: none;
}

a:hover{
	color: #431f46;
}

h4.rrp{
	color: #666;
	margin-bottom: 0;
}

h2.price{
	margin-top: 0;
	font-size: 2.5em;
}



