/*--------------------------------
GENERAL LAYOUT
--------------------------------*/

body,html{
	height: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}

body{
	background-color: #3e3e3d;
	min-width: 1080px;
}

.clear{
	clear: both;
}

.wrapper{
	background-color: #eeeeee;
	padding: 20px 0;
}

.content-container{
	width: 984px;
	margin: 0 auto;
}

.left{
	float: left;
}

.right{
	float: right;
}

.side-column, .main-column{
	margin-bottom: 20px;
}

.side-column{
	width: 214px;
}

.main-column{
	width:754px;
}

.text-content{
	padding: 0 15px;
}

.popup{
	display:none;
}

/*--------------------------------
HORIZONTAL LISTS 
--------------------------------*/

ul.horizontal{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
  	font-size: 0;
}

ul.horizontal li{
	display: inline-block;
	margin: 0;
	padding: 0;
  	font-size: 14px;
}


/*--------------------------------
BUTTONS
--------------------------------*/

.button{

}

.button a, input.button, .header-bar, .navigation, .horizontal li.active{
	display: inline-block;
	height: 40px;
	padding: 0 15px;
	white-space: nowrap;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	background-color: #262626;
	background-image: url('../../../images/mowatt/contour.png');
	background-repeat: repeat-x;
	background-position: 0 0;
	cursor: pointer;
}

input.button{
	background-color: #89408d;
	color: #fff;
	border: none;
}

.button a i{
	background-repeat: repeat-x;
	background-position: 0 0;
	display: block;
	width: 40px;
	height: 40px;
	background-position: center 0;
	background-repeat: no-repeat;
	float: left;
	margin-left: -15px;
	background-position: center -80px;
}

.button.primary a i{
	background-position: center 0;
}

.button.disabled a, .button.disabled a:hover{
	background-color: #d8d8d8;
	color: #999;
	cursor: default;
}

.button.disabled .counter{
	background-color: #999;
}

.button a:hover i{
	background-position: center -40px;
}

.button.disabled a:hover i{
	background-position: 0 -80px;
}

.button.info a i{
	background-image: url('../../../images/mowatt/icon_info.png');
}

.button.chevron a i{
	background-image: url('../../../images/mowatt/icon_chevron.png');
}

.button.basket a i{
	background-image: url('../../../images/mowatt/icon_basket.png');
}

.button.download a i{
	background-image: url('../../../images/mowatt/icon_download.png');
}

.button.pdf a i{
	background-image: url('../../../images/mowatt/icon_pdf.png');
}

.button.primary a, .header-bar.primary, .navigation{
	background-color: #89408d;
}

.button a:hover{
	background-color: #fff;
	color: #89408d;
}

.button.small{

}

.button.small a{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	padding: 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


input.button:hover{
	background-color: #262626;
	color: #fff;
}

.counter{
	display: inline-block;
	min-width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-weight: 400;
	padding: 0 5px;
	background-color: #873f8d;
	color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: 5px;
}

i.info.tooltip{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../../images/mowatt/icon_info.png');
    background-repeat: no-repeat;
    background-position: center -50px;
    overflow: hidden;
    text-indent: -9999px;
    cursor: pointer;
    float: right;
}


i.info.tooltip:hover{
    background-position: center -10px;
}

i.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center -50px;
    overflow: hidden;
    font-size: 0;
    text-indent: -9999px;
}

i.icon.no{
    background-image: url('../../../images/mowatt/icon_no.png');
}

i.icon.yes{
    background-image: url('../../../images/mowatt/icon_yes.png');
}


/*--------------------------------
HEADER BARS
--------------------------------*/

.header-bar{
	display: block;
	margin: 0;
}

.sub-header-bar{
	display: block;
	height: 30px;
	padding: 0 15px;
	white-space: nowrap;
	line-height: 30px;
	color: #666666;
	font-size: 14px;
	background-color: #d8d8d8;
	margin: 0;
}

/*--------------------------------
BLOCKS & BOXES
--------------------------------*/

.box{
	display: inline-block;
	border: 2px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.block{
	display: block;
	background-color: #fff;
	margin-bottom: 16px;
	position: relative;
	z-index: 1;
}

/*--------------------------------
FORMS
--------------------------------*/

input[type=text], input[type=password], input[type=number], textarea, select{
	display: block;
	border: 2px solid #ebebec;
	height: 40px;
	background: #ffffff;
	padding: 0 10px;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}

textarea{
	height: 140px;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, textarea:focus, select:focus{
	box-shadow: 0 0 5px rgba(135, 63, 141, 1);
	border: 2px solid rgba(135, 63, 141, 1);
}

.form{
	background-color: #fff;
	padding: 20px;
}

.form input[type=text], .form input[type=password], .form input[type=number], .form textarea, .form select{
	margin-bottom: 5px;
	width: 100%;
}

.form .form-row{
	margin-top: 10px;
	margin-bottom: 5px;
}

.form .form-row label{
	display: block;
	color: #89408d;
	margin-bottom: 5px;
	margin-top: 15px;
}

.form h1, .form h2{
	margin-top: 0;
	color: #666;
}

.form h3{
	color: #666;
}

.form .withlinks input{
	float: left;
}

.form .withlinks ul{
    float: left;
    margin: 0;
}

.form .withlinks li{
    line-height: 20px;
}

/*--------------------------------
HEADER
--------------------------------*/

.logo h1{
	margin: 0;
	padding: 0;
}

.logo h1 a{
    display: block;
    width: 388px;
    height: 120px;
    background-image: url('../../../images/mowatt/logo.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    overflow: hidden;
    text-indent: -9999px;
}

.logo h1 a:hover{
    background-image: url('../../../images/mowatt/logo.png');
    background-repeat: no-repeat;
    background-position: 0 -120px;
}

header{
	display: block;
	position: relative;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.header{
	padding-top: 70px;
	height:120px;
}


.toplinks{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	line-height: 30px;
	background-color: #262626;
}

.toplinks a{
	color: #bbb;
	display: block;
	height: 30px;
}

.toplinks a:hover{
	color: #fff;
}

.toplinks ul li{
	font-size: 13px;
}

.toplinks .main-website a i{
    background-image: url('../../../images/mowatt/icon_returntosite_sm.png');
    background-repeat: no-repeat;
    background-position: center 0;
    display: block;
    width: 18px;
    height:30px;
    float:left;
    margin-right: 6px;
}

.toplinks .main-website a:hover i{
    background-position: center -30px;
}

.toplinks .main-website a span{
    background-image: url('../../../images/mowatt/main-website.png');
    background-repeat: no-repeat;
    background-position: center 0;
    display: inline-block;
    width: 134px;
    height:30px;
    text-indent: -9999px;
}

.toplinks .main-website a:hover span{
    background-position: center -30px;
}

.pages-nav ul li{
    background-image: url('../../../images/mowatt/divider_b.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 2px;
}

.pages-nav ul li:last-child{
    background-image: none;
    padding-right: 0;
}

.pages-nav a{
	padding: 0 15px;
}

.pages-nav li:last-child a{
	padding-right: 0;
}

.account-panel{
	display: block;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	height: 40px;
	line-height: 40px;
	background-color: #eeeeee;
	font-weight: 15px;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
	font-size: 15px;
}

.contact-details p{
	padding: 0;
	margin: 0;
}

.account-links ul li{
    background-image: url('../../../images/mowatt/divider_a.png');
    background-repeat: no-repeat;
    background-position: right center;
	font-size: 15px;
}

.account-links a{
	display: block;
	height: 40px;
	padding-right: 13px;
}

.account-links a i{
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    width: 40px;
    height:40px;
    float:left;
}

.account-links ul li.basket{
    background-color: #fff;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.account-links ul li.login a i{
    background-image: url('../../../images/mowatt/icon_login.png');
}

.account-links ul li.register a i{
    background-image: url('../../../images/mowatt/icon_register.png');
}

.account-links ul li.basket a i{
    background-image: url('../../../images/mowatt/icon_basket.png');
}

.account-links a:hover i{
    background-position: 0 -40px;
}

/*--------------------------------
SEARCH FIELD
--------------------------------*/

.search{
	position: relative;
	margin: 40px 0;
}

.search input[type="text"]{
	padding-right: 50px;
	width: 500px;
}


.search input[type="submit"]{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
    background-image: url('../../../images/mowatt/icon_search.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search input[type="submit"]:hover{
    background-position: 0 -40px;
}

/*--------------------------------
NAVIGATION
--------------------------------*/

.navigation{
	display:block;
	position: relative;
	z-index: 2;
	border-bottom: 2px solid #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	text-align: center;
}

.navigation a{
	color: #fff;
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
}

.navigation ul li.active{
    background-image: none;
	padding-right: 0px;
}

.navigation ul li.active a{
	background-color: #262626;
	padding-right: 22px;
	font-size: 16px;
}

.navigation ul li a:hover, .navigation ul li.hover > a{
	background-color: rgba(0,0,0,0.5);
}

.navigation ul li.active a:hover{
	background-color: #262626;
}

.navigation ul li{
    background-image: url('../../../images/mowatt/divider_c.png');
    background-repeat: no-repeat;
    background-position: right center;
	font-size: 16px;
	padding-right: 2px;
}

.navigation ul li:last-child{
    background-image: none;
	padding-right: 0px;
}

.navigation ul li ul {
	position:absolute;
	visibility:hidden;
	margin:0;
	padding:0;
	background-color:#89408d;
	border: 2px solid #fff;
	border-width: 0 2px 2px 2px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.navigation ul li ul li {
	display: block;
	float:none;
	margin: 0;
	padding: 0;
	text-align: left;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */
}

.navigation ul li ul li a {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	width:auto;
	margin: 0;
	background-color: rgba(0,0,0,0.5);
}

.navigation ul li ul li a:hover, .navigation ul li.active ul li a:hover {
	background-color:#89408d;
}

/*--------------------------------
BREADCRUMB
--------------------------------*/

.breadcrumb{
	background-color: #dbdbdb;
	position: relative;
	z-index: 1;
}

.breadcrumb ul{

}

.breadcrumb ul li{
    position:relative;
    background-image: url('../../../images/mowatt/breadcrumb-bg.png');
    background-repeat: no-repeat;
    background-position: right 0;	
	line-height: 30px;
	padding: 0 30px 0 40px;
	margin-left: -40px;
	margin-right: 10px;
	font-size: 13px;
}

.breadcrumb ul li:last-child{
    background-image: none;
}

.breadcrumb ul li.home{
    background-position: right -30px;	
}

.breadcrumb ul li a{
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.breadcrumb ul li a:hover{
    background-position: 0 -30px;	
}

.breadcrumb ul li.home a{
    background-image: url('../../../images/mowatt/icon_home_sm.png');
    width: 30px;
    text-indent: -9999px;
}

.breadcrumb ul li:nth-child(1){
	z-index:10; 
}

.breadcrumb ul li:nth-child(2){   
	z-index:9;  
}

.breadcrumb ul li:nth-child(3){
	z-index:8;  
}

.breadcrumb ul li:nth-child(4){   
	z-index:7;  
}

.breadcrumb ul li:nth-child(5){
	z-index:6;  
}

.breadcrumb ul li:nth-child(6){   
	z-index:5;  
}

/*--------------------------------
SLIDESHOW
--------------------------------*/

.slideshow{
	position: relative;
}

/*--------------------------------
BANNER
--------------------------------*/

.banner .slide a {
	display: block;
	width: 980px;
	height: 70px;
}

/*--------------------------------
PROMO
--------------------------------*/

.promo .overlay{
    display: block;
    background-image: url('../../../images/mowatt/promo-bg.png');
    background-repeat: repeat-y;
    background-position: 0 0;
    width: 500px;
    height: 350px;
    position: relative;
}

.promo .slide:nth-child(3n+1) .overlay{
    background-position: 0 -100px;
}

.promo .slide:nth-child(3n+2) .overlay{
    background-position: 0 -150px;
}


.promo .overlay-content{
	display: block;
	padding: 25px;
	position: absolute;
	bottom: 0px;
    color: #fff;
    width: 250px;
}

.promo .slide{
	width: 100%;
	background-color: #89408d;
	background-repeat: no-repeat;
	background-position: right center;
}

.promo h2{
	color: #fff;
	font-size: 38px;
	margin: 10px 0;
}

.promo h3{
	color: #262626;
	font-size: 20px;
	margin: 10px 0;
}

/*--------------------------------
ARROWS
--------------------------------*/

.controls{
	width: 1080px;
	height: 60px;
	background-image: url('../../../images/mowatt/arrows-bg.png');
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: -48px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	z-index:0;
}

.controls .prev, .controls .next{
	position: absolute;
	padding: 10px;
}

.controls .prev{
	left: 0;
}

.controls .next{
	right: 0;
}

.controls a{
	display: block;
	width: 40px;
	height: 40px;
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -9999px;
}

.controls a:hover{
	background-position: 0 -40px;
}

.controls .prev a{
	background-image: url('../../../images/mowatt/icon_left.png');
}

.controls .next a{
	background-image: url('../../../images/mowatt/icon_right.png');
}

/*--------------------------------
RESULTS HEADER & FOOTER
--------------------------------*/

.results-header{
	border-top: 2px solid #dddddd;
	padding-top:8px;
	margin-bottom: 8px;
}

.view-tools > div{
	float: right;
	margin-left: 10px;
	background-color: #fff;
}

.view-type a{
	display:block;
	width:40px;
	height:40px;
	text-align: center;
	line-height:40px;
	background-repeat: no-repeat;
	background-position: center 0;
	text-indent: -9999px;
}

.view-type .list a{
	background-image: url('../../../images/mowatt/icon_list.png');
}

.view-type .grid a{
	background-image: url('../../../images/mowatt/icon_grid.png');
}

.view-type a:hover{
	background-position: center -40px;
}

.horizontal li.active{
	padding: 0;
	font-size: 14px;
}

.horizontal li.active a{
	color: #fff;
	background-position: center -80px;
	font-size: 14px;
}

.sort h3, .items-per-page h3{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	line-height: 40px;
	padding: 0 12px;
	font-size: 15px;
}

.results-footer{
	border-top: 2px solid #dddddd;
	padding-top:8px;
	margin-top: 8px;
}

.pager, .items-per-page{
	background-color: #fff;
}

.pager a {
	display:block;
	width:40px;
	height:40px;
	text-align: center;
	line-height:40px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center 0px;
}

.pager a:hover {
	background-position: center -40px;
}

.pager .disabled a, .pager .disabled a:hover{
	background-position: center -120px;
}
 

.pager li.start a, .pager li.previous a, .pager li.next a, .pager li.end a {
	text-indent: -9999px;
}

.pager li.start a {
	background-image: url('../../../images/mowatt/icon_start.png');
}

.pager li.previous a {
	background-image: url('../../../images/mowatt/icon_back.png');
}

.pager li.next a {
	background-image: url('../../../images/mowatt/icon_forward.png');
}

.pager li.end a {
	background-image: url('../../../images/mowatt/icon_end.png');
}

/*--------------------------------
RESULTS HEADER & FOOTER
--------------------------------*/

.products{

}

.products .product{
	position: relative;
}


.products.grid .product{
	float:left;
	width:180px;
	margin-right: 11px;
	margin-bottom: 11px;
}

.product .button{
	float: left;
}

.product .thumbnail{
	display: block;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.product .primary-details h3{
	padding: 14px 15px;
	border-bottom: 2px solid #dddddd;
	margin: 0;
}

.product .price h5{
	color: #999;
	font-size: 14px;
	margin: 0;
	padding: 12px 15px 0px;
}

.product .price h4{
	color: #262626;
	font-size: 24px;
	margin: 0;
	padding: 0 15px 12px;
}

.product .summary-info ul{
	margin: 0;
	padding: 14px 15px;
}

.product .summary-info ul li{
	display: block;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 12px;
	float: left;
	position: relative;
	padding-left: 15px;
}

.product .summary-info ul li:before {
	content: "• ";
	position: absolute;
	left: 0;
}

.product .details{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.product .selector{
	position: absolute;
	right: 5px;
	top: 5px;
}

.products.grid .product .thumbnail{
	width: 176px;
	height: 176px;
}

.products.list .product .thumbnail{
	width: 200px;
	height: 200px;
	float: left;
}

.products.list .product .details{
	padding-left: 200px;
}

.products.grid .product .buttons a span, .products.grid .product .summary-info, .products.grid .product .selector label{
	display:none;
}

.products.grid .product:nth-child(4n+4){
	margin-right: 0;
}

.products.grid .product:nth-child(4n+5){
	clear:both;
}

.products.grid .buttons{
	background-color: #fff;
	white-space: nowrap;
	width:100%;
	padding-top: 2px;
}

.products.list .product-info{
	border-bottom: 2px solid #dddddd;
	display: table;
}

.products.list .buttons{
	float:right;
	padding: 8px;
	border-left: 2px solid #dddddd;
}

.products.grid .button a{
	width: 86.5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.products.grid .buttons .basket{
	margin-left:2px;
}

.products.list .buttons .basket{
	margin-left:8px;
}

.products.list .primary-details{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: table-cell;
	margin: 0;
	vertical-align: top;
}

.products.list .summary-info{
	width: 62.65%;
	border-left: 2px solid #dddddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: table-cell;
	margin: 0;
	vertical-align: top;
}

.products.list .product .selector{
	top: auto;
	right: auto;
	bottom: 8px;
	left: 208px;
	background-color: #fff;
	display: inline-block;
	line-height: 40px;
	padding: 0 10px;
	width: 170px;
}

.products.list .product{
	float:none;
	width:100%;
	margin-bottom: 11px;
}

/*--------------------------------
SIDE-COL
--------------------------------*/

.filter ul{
	list-style: none;
	margin: 0;
	padding: 15px;
}

.tweet{
	position: relative;
	padding: 15px;
	background-color: #89408d;
	color: #fff;
  	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.tweet:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 20px 20px 0px;
	border-color: transparent #89408d;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -20px;
	right: 0;
}

.tweet a, .tweet h3{
	color: #262626;
}

.tweet h3{
	margin: 0;
}

.tweet .ago{
	font-size: 12px;
	margin-bottom: 0;
}

.social-media h4{
	float: left;
	display: block;
	height: 40px;
	line-height: 40px;
	margin: 0;
}

.social-media ul{
	float: right;
}

.social-media a{
	display: block;
	width: 40px;
	height: 40px;
	background-position: center 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -999px;
}

.social-media a:hover{
	background-position: center -40px;
}

.social-media ul li.facebook a{
	background-image: url('../../../images/mowatt/icon_facebook.png');
}

.social-media ul li.twitter a{
	background-image: url('../../../images/mowatt/icon_twitter.png');
}

/*--------------------------------
FOOTER
--------------------------------*/

footer{
	background-color: #3e3e3d;
	border-top: 5px solid #873f8d;
}

.scrolling-logos{
	padding: 20px 0;
}

.scrolling-logos ul{
	text-align: center;
}

.scrolling-logos ul li{
	margin: 0 30px;
}

.scrolling-logos a{
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	height: 68px;
	overflow: hidden;
	text-indent: -9999px;
}

.scrolling-logos ul li.council a{
	background-image: url('../../../images/mowatt/acred_ccc.png');
	width: 149px;
}

.scrolling-logos ul li.apple a{
	background-image: url('../../../images/mowatt/acred_apple.png');
	width: 121px;
}

.scrolling-logos ul li.naace a{
	background-image: url('../../../images/mowatt/acred_naace.png');
	width: 112px;
}

.scrolling-logos ul li.e2bn a{
	background-image: url('../../../images/mowatt/acred_e2bn.png');
	width: 104px;
}

.scrolling-logos ul li.sims a{
	background-image: url('../../../images/mowatt/acred_sims.png');
	width: 135px;
}

.footer{
	padding: 20px 0;
}

.footer-links ul li{
	margin-right: 15px;
}


.footer a{
	color: #737171;
	font-size: 13px;
}

.footer a:hover{
	color: #fff;
}

/*--------------------------------
ALERTS
--------------------------------*/

.alert{
	padding: 15px 20px 15px 85px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.alert h2{
	color: #fff;
	margin: 0;
	margin-bottom: 5px;
}

.alert p{
	color: #fff;
	margin: 0;
}

.alert.success{
	background-color: #96c11f;
	background-image: url('../../../images/mowatt/alert_success.png');
}

.alert.warning{
	background-color: #ffc20e;
	background-image: url('../../../images/mowatt/alert_warning.png');
}

.alert.error{
	background-color: #d2232a;
	background-image: url('../../../images/mowatt/alert_error.png');
}

.alert.info{
	background-color: #00aeef;
	background-image: url('../../../images/mowatt/alert_info.png');
}

/*--------------------------------
BASKET
--------------------------------*/

.basket table{
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.basket td, .basket th{
	border: 0;
	padding: 10px 5px;
	margin: 0;
	border-bottom: 2px solid #ddd;
}

.basket thead{
	display: none;
	visibility: hidden;
}

.basket p, .basket h3{
	margin: 0;
}

.basket h3{
	margin-bottom: 5px;
}

.basket tr:nth-child(even) {
    background-color: #f5f5f5;
}

.basket td.image{
	width: 60px;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
}

.basket td.description{
	border-left: 2px solid #ddd;
	padding-left: 10px;
}

.basket td.image img{
	max-width: 50px;
	max-height: 50px;
}

.basket .qty{
	width: 130px;
}

.qty .subtract, .qty .add, .qty input{
	float: left;
}

.qty input{
    width: 60px;
    padding: 0;
    text-align: center;
}

.basket .qty input {
    width: 50px;
    padding: 0;
    text-align: center;
}

.basket td.price{
	text-align: right;
	width: 80px;
}

.basket td.remove{
	width: 40px;
}

a.icon{
	display: block;
	width: 40px;
	height: 40px;
	background-position: center 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -999px;
}

a.icon:hover{
	background-position: center -40px;
}

a.add{
	background-image: url('../../../images/mowatt/icon_add.png');
}

a.subtract{
	background-image: url('../../../images/mowatt/icon_subtract.png');
}

a.remove{
	background-image: url('../../../images/mowatt/icon_delete.png');
}

.subtotals, .totals{
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: right;
}

.subtotals{
	padding: 20px 10px 20px 20px;
}

.totals{
	padding: 20px 20px 20px 10px;
}

.subtotals .value{
	border-bottom: 2px dotted #ddd;
	line-height: 40px;
}

.subtotals .value.tax{
	border-bottom: none;
}

.totals .value{
	border-bottom: 2px solid #ddd;
	margin-bottom: 40px;
	line-height: 40px;
    font-size: 1.5em;
}

.subtotals span{
	display: inline-block;
	min-width: 100px;
}

.totals span{
	display: inline-block;
	min-width: 120px;
}

/*--------------------------------
INSTALLATION OPTIONS
--------------------------------*/

.installation{
	display: inline-block;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight: 900;
	font-size: 12px;
	line-height: 18px;
	padding: 0 5px;
}

.instopts{
	float:left;
	width: 25%;
	text-align: center;
	padding:20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#installation-options .instopts{
	width: 33.33%;
}

.gold{
	background-color: #ffd50f;
	color: #fff;
}

.silver{
	background-color: #e6e6e6;
}

.bronze{
	background-color: #cd791f;
	color: #fff;
}

.installation.none{
	border: 1px dotted #ccc;
	color: #ccc;
}

.instopts h3, .instopts h4{
	margin: 0;
	text-transform: uppercase;
	color: #333;
	font-weight: 900;
	margin-bottom: 5px;
}

.installation a.icon:hover, .instopts a.icon:hover{
	background-position: 0 -80px;
}

.installation.none a.icon:hover, .instopts.none a.icon:hover{
	background-position: 0 -40px;
}



/*--------------------------------
CREDIT CARDS
--------------------------------*/

.creditcards{
	text-align: center;
}

.creditcards ul li{
	width: 60px;
	height: 40px;
	text-indent: -9999px;
	margin: 0 5px;
}

.creditcards ul li.amex{
	background-image: url('../../../images/mowatt/card_amex.png');
}

.creditcards ul li.diners{
	background-image: url('../../../images/mowatt/card_diners.png');
}

.creditcards ul li.discover{
	background-image: url('../../../images/mowatt/card_discover.png');
}

.creditcards ul li.jcb{
	background-image: url('../../../images/mowatt/card_jcb.png');
}

.creditcards ul li.mastercard{
	background-image: url('../../../images/mowatt/card_mastercard.png');
}

.creditcards ul li.paypal{
	background-image: url('../../../images/mowatt/card_paypal.png');
}

.creditcards ul li.stripe{
	background-image: url('../../../images/mowatt/card_stripe.png');
}

.creditcards ul li.visa{
	background-image: url('../../../images/mowatt/card_visa.png');
}

/*--------------------------------
PRODUCT
--------------------------------*/

.productinfo, .add-to-basket, .infoblock{
	border-bottom: 2px solid #ccc;
}

.add-to-basket{
	padding-bottom: 20px;
}

.productimage,
.productdetails{
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.productimage{
	padding-right: 20px;
}

.productimage .image{
	margin-bottom: 10px;
}

.thumbnails{
	margin-left: -10px;
	margin-bottom: 20px;
}

.thumbnails .thumbnail{
	display: block;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 80px;
}

.thumbnails .thumbnail img{
	display: block;
	width: 100%;

}

.pricing-table{
	margin-top: 10px;
}

.pricing-table table{
	width:100%;
	border: 0;
	padding: 0;
	margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.pricing-table td, .pricing-table th{
	border: 0;
	padding: 2px 0;
	margin: 0;
	text-align: center;
	border: 1px solid rgba(255,255,255,0.25);
	border-width: 1px 1px 1px 1px;
	width: 50%;
	font-size: 12px;
}

.pricing-table th{
	background-color: rgba(0,0,0,0.1);
}

.pricing-table tr:nth-child(even) {
	background-color: rgba(255,255,255,0.1);
}

.selectedsummary .summaryinfo{
	margin-right: 10px;
}

.selectedsummary .summaryinfo h3{
	float: left;
	margin:0;
	padding: 0 10px;
	line-height: 40px;
	color: #666;
}

.selectedsummary .summaryinfo input{
	text-align: center;
    width: 60px;
    padding: 0;
}

.selectedsummary .summaryinfo.price input{
	text-align: center;
    width: 100px;
    padding: 0;
}

/*--------------------------------
 SPECIFICATIONS TABLE
--------------------------------*/

.product-specifications table{
	width:100%;
	border: 0;
	padding: 0;
	margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
	border: 1px solid rgba(0,0,0,0.10);
}

.product-specifications td, .product-specifications th{
	border: 0;
	padding: 4px 15px;
	margin: 0;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.10);
	border-width: 1px 1px 1px 1px;
	width: 50%;
}

.product-specifications.compare th{
	width: 260px;
}

.product-specifications.compare td{
	width: auto;
	text-align: center;
}

.product-specifications.compare h1, .product-specifications.compare h2, .product-specifications.compare h3, .product-specifications.compare h4, .product-specifications.compare h5, .product-specifications.compare h6{
	margin: 0;
	padding: 0;
}

.product-specifications th{
	background-color: rgba(0,0,0,0.05);
}

.product-specifications tr.product-info th,
.product-specifications tr.product-info td{
	background-color: rgba(0,0,0,0.1);
	color: #666;
}

.product-specifications th.featurecategory{
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	width: auto;
}

.product-specifications tr:nth-child(even) {
	background-color: rgba(0,0,0,0.01);
}

.product-specifications.compare img{
	width: 100%;
}

.product-specifications.compare .button{
	display: inline-block;
}

.product-specifications.compare td{
	color: #999;
}

.product-specifications.compare td.best{
	color: #000;
}


/*--------------------------------
ZOOMED IMAGE
--------------------------------*/

.zoom img {
	display: block;
	width:100%;
}