/*--------------------------------
PRINT STYLES
--------------------------------*/

header,
footer,
#sidrnav,
.noprint,
.alert,
.side-column{
    display: none;
}

body,
.wrapper{
    background-color: #fff;
}

.main-column.right{
	float: none;
}

.slideshow {
    display: none;
}

.product-specifications.compare th {
    display: none;
}

.content-container {
    width: 580px;
}

.text-content {
    padding: 0;
}

.basket.order.block.box{
    width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.basket thead th,
.basket tbody td{
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #999999;
}

.basket thead th{
    padding: 0;
	font-size: 9px;
}

.basket td.description {
    border-left: none;
    padding-left: 0;
}

.basket td.last {
    padding-right: 0;
}

.totals.right{
    width: 100%;
    padding: 10px 0 0 0;
}

.main-column {
    width: 100%;
}

.box {
    border: none;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
}

.basket thead th {
    color: #c0c0c0;
    line-height: 20px;
    height: auto;
    white-space: nowrap;
    background-color: transparent;
    background-image: none;
}

.discount.left{
    display:none;
}

.basket .qty a.icon,
.basket .edit,
.basket .remove,
.button{
    display:none;
}

.basket .qty {
    width: 50px;
}