/*--------------------------------
UPDATES AND FIXES
--------------------------------*/

body {
    min-width: 0;
}

form {
    margin: 0;
}

address{
	font-style: normal;
}

.compare form {
    display: inline-block;
}

.product-specifications table{
    table-layout: fixed;
}

.product-info.brand{
	display: none;
}

.product-specifications .add_to_basket{
	display: none;
}

.product .primary-details h3 {
    overflow: hidden;
}

.scrolling-logos ul li {
    height: 68px;
}

.scrolling-logos{
	overflow: hidden;
}

 .promo.slideshow .slides{
	height: 354px;
}

.outer-wrapper {
	width: 100%;
	position: relative;
    overflow: hidden;
}

.product-info,
.primary-details{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.breadcrumb ul {
    white-space: nowrap;
}

.breadcrumb,
.breadcrumb .content-container{
	overflow:hidden;
}

.button.counter0 a,
.button.counter0 a:hover {
    background-color: #d8d8d8;
    color: #999;
    cursor: default;
}

.button.counter0 .counter {
    background-color: #999;
}


.button.primary button{
    background-color: #89408d;
}

.button button{
    display: inline-block;
    height: 40px;
    padding: 0 15px;
    white-space: nowrap;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #262626;
    background-image: url('../img/contour.png');
    background-repeat: repeat-x;
    background-position: 0 0;
    cursor: pointer;
	font-family: 'ICT', sans-serif;
    border: none;
}

.button button:hover {
    background-color: #fff;
    color: #89408d;
}

.breadcrumb ul li:first-child{
	display: none;
}

.breadcrumb ul li.home {
	padding: 0 30px 0 60px;
}

.breadcrumb ul li.home a {
    background-image: none;
    width: auto;
    text-indent: 0;
}

.tweet h3,
.tweet a{
    color: #fff;
}

.products.featured .add_to_comparison,
.products.alternative .add_to_comparison,
.products.associated .add_to_comparison,
.products.installations .add_to_comparison{
	display:none;
}

.thumbnail a{
    display: block;
    height: 100%;
    width: 100%;
}

.creditcards{
	display:none;
}

.table-label{
	display:none;
	color: #89408d;
	width: 80px;
    text-align: left;
}

button.button{
    display: inline-block;
    height: 40px;
    padding: 0 15px;
    white-space: nowrap;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #262626;
    background-image: url('../../../images/mowatt/contour.png');
    background-repeat: repeat-x;
    background-position: 0 0;
	font-family: 'ICT', sans-serif;
	border: none;
    cursor: pointer;
}

button.button:hover {
    background-color: #fff;
    color: #89408d;
}

button.button.primary:hover{
    background-color: #262626;
    color: #fff;
}

.summaryinfo.qty .qty{
    float: right;
}


.proceed {
    padding: 20px 20px 20px 10px;
}

.discount {
    padding: 20px 10px 20px 20px;
}

.discount input,
.discount button{
	display: inline-block;
}

.totals .value{
	border-bottom: none;
	line-height: normal;
    font-size: 1em;
    margin-bottom: 10px;
}

.totals .value.tax{
    font-size: 0.8em;
}

.totals .value.subtotal{
	color: #89408d;
    font-size: 1.5em;
}

.totals .value.total{
	font-weight: 400;
    margin-bottom: 20px;
}


.basket thead th{
	text-align: left;
	color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
	height: 40px;
    white-space: nowrap;
	background-color: #89408d;
    background-image: url('../../../images/mowatt/contour.png');
    background-repeat: repeat-x;
    background-position: 0 0;
    padding: 0 5px;
}

.basket.order thead,
.basket.addresses thead {
    display: table-header-group;
    visibility: visible;
}

.basket.order td.description {
    border-left: none;
}


.text-content .left,
.text-content .right{
	width:50%;
}

.order-details h4{
    margin-top: 0;
    margin-bottom: 5px;
}

.order-details p{
    margin-top: 5px;
}

.text-content address span{
	display: block;
}

.basket.order .last{
	text-align: right;
}


.button-group .button{
    display: inline-block;
}

body.counter3 .add_to_comparison input[type=checkbox],
body.counter3 .add_to_comparison input[type=checkbox]+label{
	display: none;
}

body.counter3 .add_to_comparison input[type=checkbox]:checked,
body.counter3 .products.list .add_to_comparison input[type=checkbox]:checked+label{
	display: inline-block;
}

.products.list .summary-info p{
    padding: 14px 15px;
    margin: 0;
}

.promo h2 {
    font-size: 28px;
}

h2.price span{
    font-size: 0.5em;
}

.thumbnails .thumbnail{
	height: 80px;
	position: relative;
	background-color: #fff;
}

.thumbnails .thumbnail img {
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.products.installations .summary-info{
	color: #262626;
	font-size: 0.8em;
	padding: 0 15px;
}


/*--------------------------------
MISSING ICONS
--------------------------------*/

.account-links ul li.logout a i {
    background-image: url('../../../images/mowatt/icon_logout.png');
}

.account-links ul li.account a i {
    background-image: url('../../../images/mowatt/icon_user.png');
}

.icon.update {
	background-image: url('../../../images/mowatt/icon_update.png');
    background-color: transparent;
    border: none;
    display: block;
    width: 40px;
    height: 40px;
    background-position: center 0;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -999px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.icon.update.highlight,
.icon.update:hover{
    background-position: center -40px;
}

/*--------------------------------
THIRD TIER NAVIGATION
--------------------------------*/

.navigation ul li ul li{
	position: relative;
}

.navigation ul li ul li ul{
	top: -2px;
	left:100%;
	border-width: 2px 2px 2px 0px;
}

.navigation ul li ul li ul li{

}

.navigation ul li ul li ul li a{
	background-color: rgba(0,0,0,0.75);
}

/*- HIDE THIRD TIER UNTIL WORKING PROPERLY -*/

.navigation ul li ul li ul{
	display: none !important;
}

/*--------------------------------
MOBILE NAVIGATION
--------------------------------*/

.hamburger{
	position: absolute;
    top: 20px;
    right: 20px;
	z-index: 100;
	display: none;
}

.hamburger-headers{
	display: none;
}

.hamburger a{
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../../../images/mowatt/mobile_hamburger.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
}

.sidr-open .hamburger a{
    background-image: url('../../../images/mowatt/mobile_close.png');
}

.sidr-animating .hamburger a{
    background-image: url('../../../images/mowatt/mobile_transition.png');
}


/*--------------------------------
SIDR TWEAKS
--------------------------------*/

.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 {
    margin: 0;
}


.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 {
	background-color: #89408d;
    background-image: url('../../../images/mowatt/contour.png');
    background-repeat: repeat-x;
    background-position: 0 0;
}

.sidr ul li span#sidr-id-basket_count {
	display: inline-block;
    color: #89408d;
}

.sidr .sidr-inner {
    padding: 0;
}

.sidr ul {
    margin: 0;
}

/*--------------------------------
PAGER
--------------------------------*/

ul.pagination{
	background-color: #fff;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    display: inline-block;
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

ul.pagination li{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 40px;
    white-space: nowrap;
    line-height: 40px;
}

ul.pagination li.active {
    color: #fff;
    font-weight: 400;
    background-color: #262626;
    background-image: url('../img/contour.png');
    background-repeat: repeat-x;
    background-position: 0 0;
}

ul.pagination a,
ul.pagination span{
	display:block;
	width:40px;
	height:40px;
	text-align: center;
	line-height:40px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center 0px;
}

ul.pagination a:hover {
	background-position: center -40px;
}



ul.pagination .disabled a,
ul.pagination .disabled a:hover,
ul.pagination .disabled span,
ul.pagination .disabled span:hover{
	background-position: center -120px;
}

ul.pagination li:first-child a,
ul.pagination li:first-child span{
	background-image: url('../../../images/mowatt/icon_back.png');
	text-align: left;
	text-indent: -9999px;
}

ul.pagination li:last-child a,
ul.pagination li:last-child span{
	background-image: url('../../../images/mowatt/icon_forward.png');
	text-align: left;
	text-indent: -9999px;
}



/*--------------------------------
PRODUCT TWEAKS
--------------------------------*/

.productimage .image{
	width: 100%;
}

.productdetails h3.vendor{
	display: none;
}

.products.grid .buttons .button.info a,
.products.grid .buttons button.basket {
	font-family: 'ICT', sans-serif;
	text-align: center;
	width: 87px;
    display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0 auto;
}

.products.grid .buttons .qty{
	height: 40px;
	margin-bottom: 10px;
}

.products .add_to_basket{
	display:none;
}

.products.installations .add_to_basket{
	display:block;
}

.products .buttons .button.info,
.products.grid .buttons .button.info a{
    width: 100%;
}

.products.installations .buttons .button.info{
    width: auto;
}

.products.installations .buttons .button.info a{
	width: 87px;
}

.productimage .image img{
	background-color: #fff;
}




/*--------------------------------
INSTALLATIONS
--------------------------------*/

.products.installations .thumbnail{
	display: none;
}

.products.installations.grid .product {
    float: left;
    width: 33.33%;
    margin-right: 0px;
    margin-bottom: 0px;
}

.products.installations.grid{
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    margin-bottom: 11px;
}

.products.installations.grid .product{
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px 0px transparent;
    box-shadow: 0px 0px 0px 0px transparent;
}

.products.installations .product-info{
	text-align: center;
}

.products.installations .product .primary-details h3 {
    border-bottom: none;
}

.products.installations .product-info a{
	color: #333;
}

.products.installations .buttons {
    background-color: transparent;
    padding-top: 0;
    text-align: center;
    padding: 10px;
    width: auto;
}

.products.installations .buttons .button,
.products.installations .add_to_basket{
    float: none;
    display: inline-block;
}

.products.installations .buttons .button.info{
	display: none;
}

.products.installations.grid .product:first-child:nth-last-child(2) {
    width: 100%;
}

.products.installations.grid .product:first-child:nth-last-child(3) {
    width: 50%;
}

.product .price h4 {
    padding: 6px 15px;
}

.products.installations .product .summary-info{
	display:block !important;
}

.product.server .buttons .qty{
	overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
}

.basketitem.server .qty a.icon,
.basketitem.server .qty input,
.basketitem.server .edit button{
	overflow: hidden !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    margin: 0 !important;
}


/*--------------------------------
SCROLLING LOGOS
--------------------------------*/

.scrolling-logos ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.scrolling-logos ul li{
	float: left;
	padding: 0;
	margin: 0 15px;
}


/*--------------------------------
BASKET UPDATE
--------------------------------*/

#basket_updated{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    margin: 0;
    padding: 140px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


#basket_updated .alert{
	margin: 0 auto;
	max-width: 460px;
}


#basket_updated p.buttons{
    margin-top: 10px;
}

/*--------------------------------
CHECKOUT PAGE
--------------------------------*/

.checkout-details{
	margin-bottom: 20px;
}

.nextstep{
	text-align: right;
}

.nextstep .button{
	display: inline-block;
}

#po_number{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#delivery_address{
	width: 100%;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*--------------------------------
DELIVERY ADDRESSES
--------------------------------*/

.addresses table .button,
.addresses table form{
	display: inline-block;
}

.addresses table .last{
	text-align: right;
	width: 202px;
}

/*--------------------------------
TWITTER
--------------------------------*/

.tweet .ago{
	display: none;
}


/*--------------------------------
COMPARE PAGE TWEAKS
--------------------------------*/

.product-specifications.compare img{
    width: auto;
    max-width: 100%;
    max-height: 180px;
}

.product-specifications.compare h2.price{
	font-size: 1.2em;
}


/*--------------------------------
SEARCH RESULTS TWEAKS
--------------------------------*/

.products.searchresults .product .selector{
	display:none;
}


/*--------------------------------
RESPONSIVENESS
--------------------------------*/

@media screen and (max-width: 1100px){

	.controls{
		display: none;
	}

}


@media screen and (max-width: 1080px){

	.banner.slideshow{
		width: 1px;
		height: 1px;
		position: absolute;
		left: -9999px;
	}

	.contact-details{
		display: none;
	}

	.search input[type="text"] {
	    width: 260px;
	}

	.content-container {
		width: 884px;
	}

	.main-column {
	    width: 654px;
	}

	.slideshow .slides{
		width: 880px !important;
	}

	.account-links{
		width:100%;
		text-align: center;
	}

	.products.grid .product {
		width: 210px;
	}

	.products.grid .product:nth-child(4n+4) {
	   	margin-right: 11px;
	}

	.products.grid .product:nth-child(4n+5) {
	    clear: none;
	}

	.products.grid .product:nth-child(3n+3) {
	   	margin-right: 0;
	}

	.products.grid .product:nth-child(3n+4) {
	    clear: both;
	}

	.products.grid .product .thumbnail {
	    width: 206px;
	    height: 206px;
	}

	.products.grid .buttons .button.info a,
	.products.grid .buttons button.basket {
		width: auto;
	}

	.basket .discount,
	.basket .totals{
		float:none;
		width: 100%;
  		-webkit-box-sizing: border-box;
  		-moz-box-sizing: border-box;
  		box-sizing: border-box;
		padding: 20px;
		text-align: right;
	}

	.basket .qty {
	    width: 50px;
	}

	.basket .qty .subtract,
	.basket .qty .add{
		display: none;
	}

	.basket td.image {
	    display: none;
	}

	.basket td.description {
	    border-left: none;
	}

	.product-specifications.compare th {
	    width: auto;
	}

}

@media screen and (max-width: 940px){

	.content-container {
		width: 744px;
	}

	.main-column {
	    width: 514px;
	}

	.slideshow .slides{
		width: 740px !important;
	}

	.products.grid .product:nth-child(3n+3) {
	   	margin-right: 11px;
	}

	.products.grid .product:nth-child(3n+4) {
	    clear: none;
	}

	.products.grid .product:nth-child(2n+2) {
	   	margin-right: 0;
	}

	.products.grid .product:nth-child(2n+3) {
	    clear: both;
	}

	.products.grid .product {
		width: 251px;
	}

	.products.grid .product .thumbnail {
	    width: 247px;
	    height: 247px;
	}

	.products.grid .buttons .button.info a,
	.products.grid .buttons button.basket {
		width: auto;
	}

	.results-count{
		display: none;
	}

	.view-tools{
 		width: 100%;
	}

	.view-tools .sort{
	    float: left;
	    margin-left: 0;
	}

	.products.list .product .selector {
	    width: 105px;
	}

	.add_to_comparison input[type=checkbox]+label {
		width: 70px;
    	white-space: nowrap;
    	overflow: hidden;
    	line-height: 100%;
	}

	.products.list .product .thumbnail {
	    width: 100%;
	}

	.products.list .product .details {
		padding-left: 0;
	}

	.products.list .product .selector {
	    left: 8px;
	}

	.products.installations.grid .product {
	    width: 100%;
	}

}


@media screen and (max-width: 800px){

	.search input[type="text"] {
	    width: 170px;
	}

	.content-container {
		width: 604px;
	}

	.slideshow .slides{
		width: 600px !important;
	}

	.main-column,
	.side-column{
	    width: 604px;
	    float: none;
	}

	.products.grid .product {
		width: 194px;
	}

	.products.grid .product .thumbnail {
	    width: 190px;
	    height: 190px;
	}

	.products.grid .product:nth-child(2n+2) {
	   	margin-right: 11px;
	}

	.products.grid .product:nth-child(2n+3) {
	    clear: none;
	}

	.products.grid .product:nth-child(3n+3) {
	   	margin-right: 0;
	}

	.products.grid .product:nth-child(3n+4) {
	    clear: both;
	}

	.products.grid .buttons .button.info a,
	.products.grid .buttons button.basket {
	    width: auto;
	}

}


@media screen and (max-width: 660px){



	.search{
		display: none;
	}

	.logo{
		width: 100%;
	}

	.logo h1 a {
	    width: 100%;
	    background-position: center 0;
	}

	.logo h1 a:hover {
	    background-position: center -120px;
	}

	.promo.slideshow {
	    width: 1px;
	    height: 1px;
	    position: absolute;
	    left: -9999px;
	}

	.content-container {
		width: 464px;
	}

	.main-column,
	.side-column{
	    width: 464px;
	    float: none;
	}

	.products.grid .product {
	    width: 226.5px;
	}

	.products.grid .product .thumbnail {
	    width: 223px;
	    height: 223px;
	}

	.products.grid .buttons .button.info a,
	.products.grid .buttons button.basket {
	    width: auto;
	}

	.products.grid .product:nth-child(3n+3) {
	   	margin-right: 11px;
	}

	.products.grid .product:nth-child(3n+4) {
	    clear: none;
	}

	.products.grid .product:nth-child(2n+2) {
	   	margin-right: 0;
	}

	.products.grid .product:nth-child(2n+3) {
	    clear: both;
	}

	.view-tools .sort select{
    	width: 130px;
	}

	.productimage, .productdetails {
	    width: 100%;
	    padding: 0;
	}

	.selectedsummary .box {
		margin-right: 0;
		margin-left: 0;
    	width: 100%;
    	margin-bottom: 10px;
	}


	button.basket {
	    display: block;
	    width: 100%;
	}

	.order-details .left,
	.order-details .right{
		float: none;
		width: 100%;
	}

	.table-label{
		display: inline-block;
	}


	.basket table,
	.basket table tbody,
	.basket table tbody tr,
	.basket table tbody tr td{
		display: block;
		width: 100%;
		position: relative;
		text-align: left;
  		-webkit-box-sizing: border-box;
  		-moz-box-sizing: border-box;
  		box-sizing: border-box;
	}

	.basket table tbody tr{
		border-bottom: 2px solid #ddd;
	}

	.basket table tbody tr td.qty,
	.basket table tbody tr td.edit,
	.basket table tbody tr td.price,
	.basket table tbody tr td.remove,
	.basket table tbody tr td.last{
    	display: inline-block;
    	text-align: center;
    	vertical-align: center;
    	height: 62px;
		border-bottom: none;
	}

	.basket table tbody tr td.qty{
		width: 60px;
	}

	.basket table tbody tr td.remove,
	.basket table tbody tr td.edit{
		width: 50px;
	}

	.basket table tbody tr td.price{
    	width: auto;
		line-height: 40px;
	}

	.basket table tbody td.quantity,
	.basket table tbody td.description{
		border-bottom: 1px dotted #ddd;
		text-align: left;
	}

	.basket.order td.quantity.last {
		text-align: left;
	}


	.basket table thead,
	.basket table thead tr,
	.basket table thead tr th{
		display: none;
	}

	.basket table tbody tr td.image {
    	display: none !important;
	}

	.text-content .left,
	.text-content .right{
		float:none;
		width: 100%;
  		-webkit-box-sizing: border-box;
  		-moz-box-sizing: border-box;
  		box-sizing: border-box;
	}


}

@media screen and (max-width: 520px){

	.hamburger{
		display: block;
	}

	.zoom img.zoomImg{
		display:none !important;
	}

	.pages-nav,
	.navigation,
	.account-panel,
	.toplinks,
	.breadcrumb{
		display: none;
	}

	.header {
	    padding-top: 60px;
	    height: 110px;
	}

	.logo h1 a,
	.logo h1 a:hover{
	    height: 100px;
	    background-image: url('../../../images/mowatt/logo_mobile.png');
	    background-position: center center;
	    background-size: contain;
	}

	.content-container {
		width: 100%;
		padding: 0 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.main-column,
	.side-column{
	    width: 100%;
	    float: none;
	}

	.products.grid .product {
	    width: 100%;
	}

	.products.grid .product .thumbnail {
	    width: 100%;
	    height: 200px;
	}

	.products.grid .product:nth-child(2n+2) {
	   	margin-right: 11px;
	}

	.products.grid .product:nth-child(2n+3) {
	    clear: none;
	}

	.products.grid .product:nth-child(1n+1) {
	   	margin-right: 0;
	   	clear: both;
	}

	.product .buttons{
		font-size: 0;
		text-align: center;
	}

	.product .button {
		float: none;
		display: inline-block;
	}

	.products.grid .buttons .button.info a,
	.products.grid .buttons button.basket {
	    width: auto;
	}

	.view-type{
		display: none;
	}

	.view-tools .compare,
	.view-tools .sort{
	    width: 100%;
	    margin: 0 0 10px 0;
	}

	.more-options,
	.more-options .items-per-page{
	    width: 100%;
	}

	.more-options .items-per-page select,
	.view-tools .sort select{
	    float: right;
	    width: auto;
	}

	.view-tools .compare .button a{
    	display: block;
    	width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
	}

	.products.list .product-info,
	.products.list .primary-details,
	.products.list .summary-info {
	    display: block;
	    width: 100%;
	}

	.products.list .summary-info{
		display: none;
	}

}

@media screen and (max-width: 420px){

	.totals span {
	    min-width: 0;
	}

}

@media screen and (max-width: 360px){

	.products.list .buttons .button a span{
		display: none;
	}

	.summaryinfo .qty .subtract, .summaryinfo .qty .add{
		display: none;
	}

	.discount input{
		width: 125px;
	}

}

